<main class="container">
  <div class="col-md-8 col-md-offset-2 panel">
    <div class="panel-header">
    </div>
    <form action="/api/templates" method="post">
    <div class="panel-body">
        <input type="text" name="name" ng-model="template.name" placeholder="name" required>
        <input type="text" name="price" ng-model="template.price" placeholder="price" required>
        <input type="text" name="url" ng-model="template.url" placeholder="url" required>
        <input type="text" name="createdBy" ng-model="template.createdBy" placeholder="createdBy" required>
    </div>
    <div class="panel-footer">
      <input type="submit" class="btn btn-info" value="Create">
    </div>
    </form>
  </div>

</main>
