<h1>Add a new template.</h1>
<form action="/api/templates" method="post">
  <input type="text" name="name" ng-model="template.name" placeholder="name" required>
  <input type="text" name="price" ng-model="template.price" placeholder="price" required>
  <input type="text" name="url" ng-model="template.url" placeholder="url" required>
  <input type="text" name="createdBy" ng-model="template.createdBy" placeholder="createdBy" required>
  <input type="submit" class="btn btn-info" value="Create">
</form>
