<main class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="col-md-3 panel" ng-repeat="template in templates">
        <div class="panel-body">
          <p><a href="/#/listTemplate/{{template._id}}"><strong>{{template.name}}</strong></a></p>
          <p><i class="fa fa-inr"></i>{{template.price}}</p>
          <p><span class="fade">by</span> {{template.createdBy}}</p>
          <p><span class="fade">on</span> {{template.createdOn}}</p>
        </div>
        <div class="panel-footer">
          <div class="pull-left">
            <a href=""><i class="fa fa-thumbs-o-up"></i>{{template.likes}}</a>
            <a href=""><i class="fa fa-thumbs-o-down"></i>{{template.dislikes}}</a>
          </div>
          <div class="pull-right">
            <a href=""><i class="fa fa-pencil-square-o"></i></a>
            <a href=""><i class="fa fa-trash-o"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div> <!-- Template panels -->
    <div class="col-md-3 hidden-sm hidden-xs filter-panel">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <input type="text" name="name" value="" class="filter-search form-control" placeholder="Search..">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-options">
            <h6>FILTER BY</h6>
            <ul>
              <li>Popularity</li>
              <li>Price</li>
              <li>Date</li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- Filter panel -->
  </div>
</main>
