<!-- Modal for edit/delete-->
<div id="modal-updateTemplate" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" >

    <!-- Modal content-->
    <div class="modal-content" style="width:90%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Edit/Delete</h2>
      </div>
      <div class="modal-body">
          <div class="panel add-form">
            <div class="panel-body ">
              <div class="col-md-5">
                <img src="/images/templates/{{template._id}}" style="width:100%" id="viewImg" lowsrc="/images/spinner.gif">
                <button id="change-image" onclick="document.getElementById('selectedFile').click();"><i class="fa fa-camera"></i>&nbsp;&nbsp;Change</button>
                <input type="file" id="selectedFile" style="display: none;"  file-model="myFile" class="btn upld"/>
              </div>
              <div class="col-md-7">
                <br/>
                Name:<br/>
                <input type="text" name="name" ng-model="template.name" required><br/>
                Price:<br/>
                <input type="text" name="price" ng-model="template.price" required><br/>
                Template url:<br/>
                <input type="text" name="name" ng-model="template.url" required><br/>
                Created by:<br/>
                <input type="text" name="name" ng-model="template.createdBy" required><br/>
              </div>

            </div>
            <div class="panel-footer">
              <input type="button" class="btn btn-warning" ng-click="put()" value="Save" data-dismiss="modal">
              <input type="button" class="btn btn-danger" ng-click="delete()" value="Delete" data-dismiss="modal">
            </div>
        </div>
      </div>
    </div>

  </div>
</div>

