<<<<<<< HEAD
/* CSS for the forms on adding/editing.deleting of templates */

=======
>>>>>>> 73a8fff259011e6cbf27eae967dcbe9a75263390
.add-form{
	text-align: center;
	padding: 20px;
	input:not(.btn){
		padding: 5px;
		width: 80%;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 73a8fff259011e6cbf27eae967dcbe9a75263390
