.search{
    main{
      .panel{
        .panel-body{
          input{
            padding: 7px;
            margin: 15px;
          }
          button{
            margin: 15px;
          }
        }
        margin-bottom: 75px;
      }
    }
}
