body {
  background-color: #FDFDFD; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.navbar {
  border-radius: 0px;
  margin-bottom: 0;}

.navbar-inverse {
  background-color: #131418;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); }

 filter-search {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: url("/images/search.png") white no-repeat 9px 8px/12px !important;
    height: 29px;
    width: 200px;
    padding: 4px 4px 4px 26px;
    margin-bottom: 25px; }


.panel {
  margin-right: 15px;
  margin-bottom: 15px;
  border: 0px;
  background: #f4f4f4;
  padding: 0px;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
  
}
.temp-panels{
  text-align:center;
}
  .panel .panel-header {
    background: white;
    border-radius: 5px 5px 0 0;
    transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s; }

    .panel .panel-header:hover {
      opacity: 0.7; }

  .panel .panel-body {
    background: #fff; 
  }

    .panel .panel-body p {
      margin-bottom: 0px; 
      }


      .panel .panel-body p .fade {
        opacity: 0.4; }
  .panel-body{
    padding: 5px;
  }
  .panel .panel-footer {
    padding: 5px ;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 0 #fff inset;
    border-radius: 0 0 5px 5px; }

    .panel .panel-footer .pull-left a {
      color: rgba(0, 0, 0, 0.7);
      margin-right: 10px;
      text-decoration: none; }

      .panel .panel-footer .pull-left a i {
        margin-right: 5px; }

      .panel .panel-footer .pull-left a:hover {
        color: rgba(0, 0, 0, 0.9); }

    .panel .panel-footer .pull-right a {
      color: rgba(0, 0, 0, 0.7);
      margin-left: 10px;
      text-decoration: none; }

      .panel .panel-footer .pull-right a:hover {
        color: rgba(0, 0, 0, 0.9); }

  .panel.templatePanel {
    display: inline-block;
    width: 31%; }

    @media screen and (max-width: 850px){
      .panel.templatePanel{
        display: inline-block;
        width: 46%;
      }
    }
    @media screen and (max-width: 500px){
      .panel.templatePanel{
        display: inline-block;
        width: 95%;
      }
    }

.add-form{
  text-align: center;
  padding: 20px; }
  
  .add-form input:not(.btn) {
    border-color: white;
    padding: 3px;
    width: 80%;
    }
    #change-image{
      float:right;
      position: relative;
      bottom: 27px;
      border: none;
      padding: 3px 5px;
      background-color: rgba(122, 122, 122, 0.7);
      color: white;
    }
    #upldImg:hover{
      cursor: pointer;
    }


    .filter-options>.btn-group-vertical>label{
      width:90%;
      float: left;
      text-align: left;
    }


.filter-row{
  border: 1px solid #CCCCCC;
  height: 50px;
  padding: 7px;
  margin-top: 10px ;
  margin-bottom: 30px;
  border-radius: 10px;;
  font-size: 0.8em;
  background: -webkit-linear-gradient(#F6F6F6, #E9E9E9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F6F6F6, #E9E9E9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F6F6F6, #E9E9E9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F6F6F6, #E9E9E9);
}

@media screen and (max-width: 653px) {
    .filter-row{
      border: 1px solid #CCCCCC;
      height: 80px;
      padding: 7px;
      margin-top: 10px ;
      margin-bottom: 30px;
      border-radius: 10px;;
      font-size: 0.8em;
      background: -webkit-linear-gradient(#F6F6F6, #E9E9E9); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#F6F6F6, #E9E9E9); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#F6F6F6, #E9E9E9); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#F6F6F6, #E9E9E9);

    }
}
@media screen and (max-width: 414px) {
    .filter-row{
      border: 1px solid #CCCCCC;
      height: 120px;
      padding: 7px;
      margin-top: 10px ;
      margin-bottom: 30px;
      border-radius: 10px;;
      font-size: 0.8em;
      background: -webkit-linear-gradient(#F6F6F6, #E9E9E9); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#F6F6F6, #E9E9E9); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#F6F6F6, #E9E9E9); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#F6F6F6, #E9E9E9);

    }
}
.sort-by{
  background: -webkit-linear-gradient(#F6F6F6, #E9E9E9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F6F6F6, #E9E9E9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F6F6F6, #E9E9E9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F6F6F6, #E9E9E9);
  color: #8C8C8C;
}
.sort-text{
  font-size: 0.95em;;
}

.sort-by>div>label{
  color: #8C8C8C;
  padding-left: 7px;
  padding-right: 8px;
}
.filter-search{
  border-radius: 20px;
  padding: 8px 10px 7px 40px;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: 7px 4px;
}
.head-part{
  height: 150px;;
  background: -webkit-linear-gradient(#A3A3A3, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#A3A3A3, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#A3A3A3, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#A3A3A3, white);
}

.login{
  text-align: center;
  margin: 30px ;
  //padding: 20px;
}
.login>.panel-body>input{
  width:80%;
  padding: 10px 20px;
  margin: 10px 5%;
}

/* #searchTable{
  width: 100%;
  border-top: 4px solid #AABCFE;
  color: #003399;
  font-size: 1.1em;
}
th{
  font-weight: bolder;
  background-color: #B9C9FE;
  padding: 5px;
  font-size: 1.1em;
}
tr{
  background-color: #E8EDFF;
  
  padding: 5px;
}
td{
  border: 1px solid white;
  padding: 5px;
}
tr:hover{
  background-color: #D0DAFD;
} */
/*# sourceMappingURL=bbTemplates.css.map */
