<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bbTemplates</title>
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/bbTemplates.css">
    <link rel="stylesheet" type="text/css" href="./DataTables-1.10.7/media/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="./DataTables-1.10.7/extensions/TableTools/css/dataTables.tableTools.min.css">
  </head>

  <body ng-app="bbTemplates" >
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">BBtemplates</a>
        </div><!-- /.navbar header -->
      </div>
    </nav>

    <div class="head-part">
      <h2 class="col-md-2 col-sm-5 col-xs-12" style="padding:20px 30px">Buy <span style="font-size:1.4em; display:block;">Themes</span></h2>
      <h3 class="pull-right hidden-xs" style="padding:46px 30px 0 0">Some Slogan</h3>
    </div>


    
        <main class="container" ng-controller="searchController">
            
            <!-- <table border="0" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td>Created By:</td>
                        <td><input type="text" id="usrnm" name="usrnm"></td>
                    </tr>
                    <tr>
                        <td>Start Date:</td>
                        <td><input type="date" id="startDate" name="startDate"></td>
                    </tr>
                    <tr>
                        <td>End Date:</td>
                        <td><input type="date" id="endDate" name="endDate"></td>
                    </tr>
                </tbody>
            </table> -->

                 <div class="dateControlBlock">
                        Between <input type="text" name="dateStart" id="dateStart" class="datepicker" value="2000/01/15" size="8" /> and 
                        <input type="text" name="dateEnd" id="dateEnd" class="datepicker" value="2020/12/31" size="8"/>
                 </div>


            <table id="searchTable" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Url</th>
                        <th>Created by</th>
                        <th>Created on</th>
                        <th>Likes</th>
                        <th>Dislikes</th>
                    </tr>
                </thead>
            </table>

        </main>
        


    <!-- <div ng-view></div> -->

    
    
    
    <script type="text/javascript" src="./libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="./libs/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="./js/searchController.js"></script>
    <script type="text/javascript" src="./libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./libs/bootstrap/js/bootstrap.min.js"></script>
        
    <script type="text/javascript" charset="utf8" src="./DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="./DataTables-1.10.7/extensions/TableTools/js/dataTables.tableTools.min.js"></script>;
    <!-- <script type="text/javascript" charset="utf-8" src="http://versatrax.com/wp-content/TableTools-2.1.5/media/js/ZeroClipboard.js"></script>; -->

  </body>
</html>